*{
    margin:0;
    padding:0;
}
/* navbar1 */

#nav1 .navbar{
    background-color: #eae3e4;
    display:flex ;
    justify-content:space-evenly;
    position:fixed;
    z-index:9999;
    
}

#nav1 .container-fluid{
    display:flex;
}
.logo1{
    max-width:15%;
    height:auto;
    margin:5px;
}

.logo2{
    max-width:20%;
    margin:5px;
}

.logo1{
    border-right: 2px solid rgb(158, 97, 127);
    margin:5px;
}

.types{
    height:40px;
    width: 378px;
    margin-top:20px;
    border:none;
    border-radius: 5px;
}

#nav1 .icon{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:20px 40px 0px 40px;
}
#nav1 .icon{
   display:flex;
   flex-direction: row;
   color:rgb(131, 49, 88);  
}
#nav1 .icon-text{
    color:rgb(131, 49, 88);
    display: flex;
    justify-content: space-evenly;
}
#nav1 .dropdown-menu{
    margin-top:70px;
    width: 300px;
    height:300px;
    position:absolute;
    margin:0;
    z-index:9999;
}
.submit{
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
    border-radius:5px;
    border: none;
    background-color: #630914;
    color:white;
    margin:20px;
    height:15%;
    text-align: center;
}
.signup{
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
    border-radius:5px;
    border: none;
    background-color:#eae3e4;
    color:#630914;
    margin:20px;
    height:15%;
    text-align: center;
}

/* navbar2 */

#nav2 .container-fluid{
    top:100%;
    position: absolute;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #bbbab7;
    padding:1%;
    z-index:99;
    background-color: white;   

}
.names li{
    display:flex;
    margin:5px;
}
#nav2 .nav-item{
    
    margin:10px;
    margin-bottom:0px;
    color: #8f8e8b;
    
} 
#nav2 .dropdown-item{
    color:black;
    position: relative;
}
#nav2 .nav-item:hover .dropdown-menu{
    display:block;
    margin-top:50px;
}


/* carousel1 */

.carousel-inner{
margin-top:10%;
}

@media screen and (min-width:320px){
    .d-flex{
        visibility: hidden;
    }
}
.liverates{
    background-color:#eae3e4;
}

.rates{
     width: 20px;
     height: 20px;
     margin-top: 10px;

}
.content{
    font-size:14px;
    display: flex;
    justify-content: center;
    padding: 10px;

}
.content .p1{
color:#803841;
margin-bottom: 0px;
}

.content .p2{
    color: black;
}


.gold-1 img{
    width:8%;
    padding-top:2%;
    
}

.span-para{
    color:green;
}
.gold-2 img{
    width:8%;
    margin-left:20%;
    padding-top:2%;
}

.silverim img{
    width:8%;
    margin-left:20%;
    padding-top:2%;
}
.silver{
    font-size:14px;
}
.silver-1{
    color:#803841;
}
.span-para2{
    color:red;
}
#heading{
    margin:5%;
}
.head{
    text-align: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.head-down{
    text-align: center;
}
.contentimg img{
    width:11%;
}
#categories{
    display: flex;
}
.image-container img{
    width:120px;
    height:120px;
    border-radius:100%;
    transition:transform 0.5s ease;
}
.image-container img:hover{
   transform:scale(0.8);
}
#promises{
    display:flex;
}
.prom1 img{
    width:40px;
    height:40px;
    border-radius:100%;
    transition:transform 0.5s ease;
    cursor: pointer;
}
.prom1 img:hover{
    transform:scale(0.8);
}
.pp1{
    font-size: 0.9rem;
}
.long-image img{
    width:90%;
    border-radius:10px;
    cursor:pointer;
}
#blockpics img{
    border-radius:10px;
}
#blockpics .pics1{
    width:100%;
    margin:10px;
}
#blockpics .purple{
    width:100%;
    margin:5px;
}
#blockpics .bangles{
    width:100%;
    margin:5px;
}
#blockpics .pics2{
    width:100%;
    margin:20px;
}
.footer-background{
    background-color:#eae3e4;
}
.mainheading{
    color:#803841;
    margin-top:10px;
}
.line{
    width:100px;
    border:1px solid #9D676E;
    margin-top:10px;
}
.list{
   color: #77838f;
}
.contact{
    color:#77838f;
}
.social-media{
  margin-top:20px;
}
.copyright{
    margin-top:20px;
    color:black;
}
.span-para{
    color:#c9a544;
}